@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
  background-color: black;
}

.AnyKey {
  text-align: center;
  color: white;
  font-family: 'dot'; 
}


.AnyKey {
  text-align: center;
  color: white;
  /* 갈무리 폰트의 정식 family name인 'Galmuri9' 또는 'Galmuri11' 등을 사용해야 합니다 */
  font-family: 'Galmuri7', sans-serif; 
}